/*CSS document*/

@import url("https://use.typekit.net/fsu6ogm.css");

body {
    margin: 1em 1em 1em 1em;
}

div.container {
    max-width: 50em;
    margin: auto;
    margin-top: 2em;
}

figure {
    margin: 0em 0em 1em 0em;
}

figure.gallery {
    margin: 0em 0em 1em 0em;
    width: calc(100%-2em);
    position: absolute;
    opacity: 0;
    transition: left 0.5s, opacity 0.5s;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}


nav ul li{
    display: inline;
    margin-bottom: 2em;
}

nav ul li a:hover{
    color: #327C89;
}

nav ul li a{
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-right: 1em;
    font-family: nobel,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2B3233;
    font-size: 0.8em;
}

div.logo{
    width: 28%;
}


h3{
    text-decoration: none;
    font-family: nobel,sans-serif;
    font-weight: 550;
    letter-spacing: 0.1em;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1em;
    color: #131819;
    margin-top: 1em;
}


input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    opacity: 1;
}


section a{
    text-decoration: none;
}


p{
    font-family: nobel, sans-serif;
    font-weight: 150;
    font-style: normal;
    color: #414B4C;
}

footer{
    margin-top: 7em;
}


figcaption{
    font-family: nobel,sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom:2em;
    
}

h2{
    font-family: nobel,sans-serif;
    font-weight: 550;
    font-style: normal;
    text-transform: uppercase;
    margin-top: 2em;
    letter-spacing: 0.1em;
    color: #244D56;
}

nav.gallery{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0.2em;
}

input {
    display: none;
}


main.gallery{
    position: relative;
    overflow: #ddd;
    padding-bottom: calc(72% + 3em);
}

section{
    margin-bottom: 5em;
}


section.subsection{
    margin-bottom: 2em;
}


hr{
    margin-bottom:6em;
    border-style: solid;
    border-width: 1.5px;
    color: #244D56;
}

div.billboard{
    margin-bottom: 0.5em;
    max-width: 50em;
    margin: auto;
}